.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  min-width: 200px;
  max-width: 100%;
  box-sizing: border-box;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #212121;
  max-width: 353px;
}

.card__image {
  height: auto;
  width: 100%;
  display: block;
  border-radius: 8px;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  opacity: 0.4;
  border: 0;
  display: flex;
  align-self: flex-end;
  background: url("../images/Like-Icon.svg") center no-repeat;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

@media screen and (max-width: 1660px) {
  .card {
    justify-self: center;
  }
}

@media screen and (max-width: 627px) {
  .card__title {
    font-size: 16px;
    max-width: 200px;
    line-height: 100%;
  }

  .card__like-btn {
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }
}
