.cards__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 40px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  max-width: 100%;
  align-items: start;
  list-style-type: none;
  padding: 0;
}

.cards {
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 1000px) {
  .cards__list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    gap: 20px;
    grid-template-columns: minmax(200px, 1fr);
    grid-auto-rows: min-content;
    margin-bottom: 20px;
  }
}
