.profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #21212166;
  padding-bottom: 20px;
  margin-top: 34px;
}

.profile__container {
  display: flex;
  max-width: 75%;
  gap: 20px;
}

.profile__avatar {
  border-radius: 8px;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Poppins", Arial, sans-serif;
  max-width: 100%;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__desc {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #212121;
  opacity: 70%;
  line-height: 100%;
}

.profile__edit-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  margin-top: auto;
  gap: 8px;
  display: flex;
  opacity: 70%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #212121;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__new-post {
  font-family: "Poppins", Arial, sans-serif;
  border: 0;
  line-height: 1;
  font-weight: 500;
  background-color: #212121;
  color: #fcf5e5;
  display: flex;
  border-radius: 8px;
  align-items: center;
  gap: 8px;
  padding: 18px 32px;
  align-self: flex-end;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.profile__new-post-btn {
  transition: filter 0.3s ease-in-out;
}

.profile__new-post:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1100px) {
  .profile__name {
    font-size: clamp(0.5rem, 7vw, 1.2rem);
  }

  .profile__desc {
    font-size: clamp(0.5rem, 7vw, 1rem);
  }
}

@media screen and (max-width: 627px) {
  .profile {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }

  .profile__container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-width: 100%;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
  }

  .profile__content {
    align-items: center;
  }

  .profile__text {
    gap: 6px;
    text-align: center;
    margin-bottom: 32px;
    max-width: 100%;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__desc {
    align-self: center;
    font-size: 16px;
    max-width: 100%;
  }

  .profile__edit-btn {
    align-self: center;
    margin-bottom: 20px;
  }

  .profile__new-post {
    width: 100%;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }
}
